<div class="container">
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th><i class="fa fa-user mr-2" aria-hidden="true"></i>Fist Name</th>
        <th><i class="fa fa-user mr-2" aria-hidden="true"></i>Last Name</th>
        <th><i class="fa fa-venus-mars mr-2" aria-hidden="true"></i>Gender</th>
        <th><i class="fa fa-calendar mr-2" aria-hidden="true"></i>Age</th>
        <th><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>Address</th>
        <th><i class="fa fa-phone mr-2" aria-hidden="true"></i>Phone Number</th>
        <th><i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td scope="row">{{contact.firstName}}</td>
        <td scope="row">{{contact.lastName}}</td>
        <td scope="row">{{contact.gender | titlecase}}</td>
        <td scope="row">{{contact.age}}</td>
        <td scope="row">{{contact.address}}</td>
        <td scope="row">{{contact.phone}}</td>
        <td scope="row">
          <a routerLink="/edit-contact/{{contact.id}}" class="text-warning mr-3"><i class="fa fa-pencil mr-2" aria-hidden="true"></i>Edit</a>
          <a routerLink="/delete-contact/{{contact.id}}" class="text-danger"><i class="fa fa-trash mr-2" aria-hidden="true"></i>Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>