<div class="container-fluid bg-dark text-white mb-3">
    <div class="container bg-dark">
      <nav class="navbar navbar-expand navbar-dark">
        <a class="navbar-brand" routerLink="/home">Logo</a>

        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          <a class="nav-item nav-link" routerLink="/add-contact" routerLinkActive="active">Add new contact</a>

        </div>
        <a class="ml-auto text-white" routerLink="/about">About</a>
      </nav>
    </div>
</div>

<router-outlet></router-outlet>